/build
/local.properties
local.properties

# Arquivos de configuração do Android Studio
.idea/

# Arquivos gerados pelo build do Gradle
.gradle/
/build/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de configuração do projeto específicos do usuário
*.iml
.gradle/
/local.properties
./../local.properties
# Dependências do Maven
/.m2/

# Logs e arquivos de relatório
/log/
/captures/
/profiler/

# Arquivos de compilação nativa
/local.properties
/cmake/
/externalNativeBuild/

# Arquivos de backup
*.bak
*.swp
*~

# Arquivos de configuração específicos do IDE
*.xml

# Arquivos de compilação do Visual Studio Code
.vscode/

# Arquivos de compilação do IntelliJ IDEA
*.iws
*.ipr
*.ids
*.pid
*.fallbackToOldGitIgnores
